<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--property name="hibernate.connection.password">root</property-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/systembank</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <mapping resource="Banco.hbm.xml"/>
        <mapping resource="Cliente.hbm.xml"/>
        <mapping resource="Cuenta.hbm.xml"/>
        <mapping resource="Login.hbm.xml"/>
        <mapping resource="Movimiento.hbm.xml"/>
        <mapping resource="Perfil.hbm.xml"/>
        <mapping resource="Tipocuenta.hbm.xml"/>
        <mapping resource="Tipomovimiento.hbm.xml"/>
        <mapping resource="named-queries.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
